<p id="notice"><%= notice %></p>

<h1>Event Elements (Categories)</h1>

<table class="table">
  <thead>
    <tr>
      <th>Starting at</th>
      <th>Due date</th>
      <!-- <th>Created at</th> -->
      <!-- <th>Updated at</th> -->
      <th>Name</th>
      <th>Reminder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_elements.each do |event_element| %>
      <tr>
        <td><%= nullable_date_to_string(event_element.starting_at) %></td>
        <td><%= nullable_date_to_string(event_element.due_date) %></td>
        <!-- <td><%= event_element.created_at %></td> -->
        <!-- <td><%= event_element.updated_at %></td> -->
        <td><%= event_element.name %></td>
        <td><%= event_element.reminder %></td>
        <td><%= link_to 'Show', event_element %></td>
        <td><%= link_to 'Edit', edit_event_element_path(event_element) %></td>
        <td><%= link_to 'Destroy', event_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Element', new_event_element_path %>
