<p id="notice"><%= notice %></p>

<p>
  <strong>Starting at:</strong>
  <%= @event_element.starting_at %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @event_element.due_date %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @event_element.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @event_element.updated_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event_element.name %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @event_element.reminder %>
</p>

<%= link_to 'Edit', edit_event_element_path(@event_element) %> |
<%= link_to 'Back', event_elements_path %>
