<!DOCTYPE html>
<html>
  <head>
    <title>Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1>Organizer</h1>
      <nav class="main-nav">
        <%= link_to 'Activities', activities_path %> |
        <%= link_to 'Categories', event_elements_path %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
